.navbar{
	background-color:#F5F5F5;
}
.nav-link{
	color: purple;
}
#logo{
width: 90px;
}
#content{
	transition: .7s;
	padding: 20px;
	margin-top: 73px;
}
#sidenavbar{
	height: 100%;
	width: 0;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #F5F5F5;
	overflow-x: hidden;
	transition: 0.7s;
	padding: 0;
	float: left;
	position: fixed;

}
#sidenavbar a{
	transition: 0.5s;
} 